<div class="bod" fxFlex="100" fxLayoutAlign="center center">


    <mat-card fxFlex="40" fxFlex.xs="100" class="loginContainer" fxLayout="column" >
  
      <mat-card-content class="fundooNotesLogo" fxFlex="100">
  
        <img src="../../assets/images/output-onlinepngtools.png">
  
      </mat-card-content>
      <mat-toolbar class="title">
        <span>Login</span>
      </mat-toolbar>
  
  
      <mat-card-content>
        <form class="my-form">
          
  
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput name="email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid"> {{getEmailInvalidMessage()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput name="password" [formControl]="password" type="password">
            <mat-error *ngIf="password.invalid"> {{getPasswordInvalidMessage()}}</mat-error>
          </mat-form-field>
         
  
        </form>
  
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
          <button mat-raised-button (click)="login()">Login</button>
          <p><a [routerLink]="['/login']">Forgot password?Click here</a></p>
  
        </mat-card-actions>
  
      </mat-card-content>
  
  
  
    </mat-card>
  
  
  
  
  
  
  </div>